﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you"d like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: Silver;
    /*background-image: url(../images/fadingBackground.png);*/
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    overflow: auto;
    height: 100%; 
    max-height: 1000px; 
    background-attachment: fixed;
}

a:link
{
    color: #447;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #447;
    text-decoration: none;
}
a:active
{
    color: #FFF;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
}

h1 
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h1 a:hover, h1 a:link, h1 a:visited
{
    color: #e8eef4;
    text-decoration: none;
    font-family: Verdana;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

.goalInput
{
	width: 20px !important;	
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 0px #e8eef4;
  border-collapse: collapse;
}

table tr 
{
	border-bottom: solid 0px #e8eef4;	
}

table.tips tr  
{
	border-bottom: solid 1px #e8eef4;	
}

table td 
{
  padding: 2px;   
  border: solid 0px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

table.border
{
	
}

table.border td
{
	background-color: #F7F8E0; 
	text-align:center;
	border: solid 1px #696969;
}

table.border th
{	
	color: #0B243B;
	border: solid 1px #696969;
}

table.border th a
{
	color: #0B243B;
	text-decoration:none;
}

table.border th a.hover
{
	color: White;
	text-decoration: underline;
}

#wrap {
	width:900px;
	margin:0 auto;
	overflow: hidden;
}
div.wrap {
	width:900px;
	margin:0 auto;
	overflow: hidden;
}

#header
{
	color: #696969;
}

#rightside
{
	float:right;
	padding:10px;
	width:430px;
	vertical-align: top;
}
div.rightside
{
	float:right;
	padding:10px;
	width:430px;
	vertical-align: top;
}
#leftside
{
	float:left;
	padding:10px;
	width: 380px;
}
div.leftside
{
	float:left;
	padding:10px;
	width: 380px;
}

.leftColumn
{
	float:left;
	padding:10px;
	width: 380px;	
}

#footer
{clear:both;}

select
{
	width: 80px;
	color: #696969;	
}

thead 
{
	text-align: center;
	padding: 10px;	
}

select.longdate
{
	width: 150px;	
}

.progress
{
	position:absolute; background-color:White; width: 150px; padding: 2px 5px 2px 5px; border: solid 1px #000;
}

.progress_long
{
	position:absolute; 
	background-color:White; 
	width: 250px; 
	padding: 2px 5px 2px 5px; 
	border: solid 1px #000;
}

.HiddenColumn{display:none;} 
 
.highlightrow {cursor: pointer; background-color: #EEF;}
.normalrow{cursor: auto; background-color: White;}
 
table.playoff td {width: 150px;}
 
#commentFooter
{
	font-size: 8pt;
	font-style:italic;
	color: #AAA;	 	
	text-align:right;
}

#commentText
{
	background-color: #EEF;
	margin-top: 10px;	
	padding: 5px 5px 5px 5px;
}

table.facit	
{width: 430px;}

#blogEntry
{
	margin-top: 8px;
	padding: 10px;
	border-bottom: solid 1px #555;
	width:520px;	
	min-height: 30px;
}

.blogHeader
{
	font-size: 12pt;
	font-weight: bold;	
}

#blogFooter
{
	font-size: 8pt;
	font-style:italic;
	color: #AAA;	 	
	text-align:right;
	width: 500px;
}

table.stats th
{
	min-width: 50px !important;	
	text-align:center !important;
}

/* AutoComplete item */
.AutoCompleteExtender_CompletionList 
{
	background-color : window;
	padding : 1px;
	font-size: small;
	background-color:Gray;
	margin: 0px;
	/*creates border with
	autocomplete_completionListElement
	background-color*/
}

input[type=text] {color:#696969;}

input.AutoCompleteExtender_CompletionListItem {color: #696969;}

ul.AutoCompleteExtender_CompletionList {list-style-type:none;}

/*AutoComplete flyout */
.AutoCompleteExtender_CompletionListItem 
{ 
	margin:0px;
	text-align : left;
	background-color:White;
	/*position: relative;*/
}

/* AutoComplete highlighted item */
.AutoCompleteExtender_HighlightedItem
{
	background-color: Silver;
	font-weight:bold;
	font-size: small;
}

.logout
{
	font-size: 8pt;
	text-align: right;
	position: absolute;
	width: 900px;	
	top: 110px;
}